---
import type {GetStaticPathsResult} from "astro";
import {getCollection, getEntry, render} from "astro:content";
import { Image } from 'astro:assets';
import MainLayout from "@/layouts/MainLayout.astro";
import { ExternalLink } from "@lucide/astro";

export const getStaticPaths = async () : Promise<GetStaticPathsResult> => {
    return (await getCollection('techs')).map(x => ({ params: { tech: x.id }}))
}
const { tech } = Astro.params as { tech: string };
const entry = await getEntry('techs', tech)!;
const { Content } = await render(entry);

---

<MainLayout>
    <article class="flex flex-col gap-5 items-center">
        <h1 class="font-extrabold text-2xl">{entry.data.name}</h1>
        <Content />
        <a class="flex flex-row gap-1 items-center"
           href={entry.data.about}
           target="_blank"
           rel="noopener noreferrer">
            <ExternalLink />
            Узнать больше
        </a>
        <Image src={entry.data.image} alt='' width={320} height={320} class="rounded max-w-xs" />
    </article>
</MainLayout>
