---
import MainLayout from '@/layouts/MainLayout.astro';
import Stacks from "@/components/Stacks.astro";
import Links from "@/components/Links.astro";
import { Image } from 'astro:assets';
import me from "@/content/images/me.jpg";
import Heading from "@/components/Heading.astro";
import Projects from "@/components/Projects.astro";

---

<MainLayout>
	<div class="p-1 elevated">
		<Image src={me} alt="Моё фото" priority={true} width={658} height={658} class="rounded-md size-full aspect-square" />
	</div>
	<Heading level={1}>Игорь Бабин</Heading>
	<Heading level={2}>All-in-one разработчик для вашего проекта</Heading>
	<p class="whitespace-pre-line">
		Полный цикл - Backend, Frontend, Devops
		Разработка это моя страсть,
		в которой я совершенствуюсь каждый день.
		Меня вдохновляет делать хорошие продукты
		и вдыхать в них жизнь
	</p>
	<Heading level={2}>Мои стеки</Heading>
	<Stacks />
	<Heading level={2}>Проекты</Heading>
	<Projects />
	<Links />
</MainLayout>

