---
import { FileHeart } from "@lucide/astro";


---

<a href="/resume.pdf" download="Игорь Бабин Резюме.pdf" class="my-10">
    <button class="flex flex-row gap-1 elevated p-5 font-bold text-xl shadow-blue-200 text-foreground hover:animate-pulse">
        <FileHeart />
        Скачать резюме
    </button>
</a>