---
import Heading from "@/components/Heading.astro";
const facts = [
    'У меня английский уровня C1 - Advanced. Это соответствует уровню носителя',
    'Я преподавал программирование в своём родном университете в течение 2 семестров',
    'Я провожу игры по своей авторской D&D-подобной НРИ системе с собственным миром',
    'У меня сахарный диабет 1 типа более 13 лет. Я разрабатываю стартапы по этой теме'
]

---

<section class="flex flex-col items-center gap-3">
    <Heading level={2}>Бонусные факты</Heading>
    {facts.map(f => <div class="elevated p-1">{f}</div>)}
</section>
