---
import {getCollection} from "astro:content";
import Card from "@/components/Card.astro";
import Heading from "./Heading.astro";
const projects = (await getCollection('projects'))
    .sort((l, r) => l.data.from.valueOf() - r.data.from.valueOf())

---


<section>
    <Heading level={2}>Проекты</Heading>
    <div class="flex flex-row gap-2 flex-wrap justify-center">
        {projects.map(p =>
                <div class="w-[calc(50%-0.5rem)]">
                    <Card name={p.data.title} link={"/projects/" + p.id} width={512} image={p.data.image} />
                </div>)}
    </div>
</section>
