---
import react from "@/assets/react.png";
import dotnet from "@/assets/dotnet.png";
import docker from "@/assets/docker.png";
import Image from 'astro/components/Image.astro';

const stacks : { name: string, url: string, icon: ImageMetadata, alt: string }[] = [
    {
        name: 'Фронтенд',
        url: 'frontend',
        icon: react,
        alt: 'React logo'
    },
    {
        name: 'Бекенд',
        url: 'backend',
        icon: dotnet,
        alt: 'Dotnet logo'
    },
    {
        name: 'Devops',
        url: 'devops',
        icon: docker,
        alt: 'Docker logo'
    }
];
---

<div class="grid grid-cols-1 gap-4 xs:grid-cols-2 md:grid-cols-3">
    {stacks.map(s =>
            <a href={"/stack/" + s.url} class="max-w-xs p-2 elevated flex flex-col gap-1 justify-end">
                <div class="w-full rounded-md">
                    <Image src={s.icon} alt={s.alt} width={188} height={188} class="w-full rounded-md" />
                </div>
                <h3 class="text-lg font-semibold text-center">{s.name}</h3>
            </a>)}
</div>
