---
import react from "@/content/images/react.png";
import dotnet from "@/content/images/dotnet.png";
import docker from "@/content/images/docker.png";
import { Image } from 'astro:assets';
import Heading from "@/components/Heading.astro";
import Card from "@/components/Card.astro";

const stacks : { name: string, url: string, icon: ImageMetadata, alt: string }[] = [
    {
        name: 'Фронтенд',
        url: 'frontend',
        icon: react,
        alt: 'React logo'
    },
    {
        name: 'Бекенд',
        url: 'backend',
        icon: dotnet,
        alt: 'Dotnet logo'
    },
    {
        name: 'Devops',
        url: 'devops',
        icon: docker,
        alt: 'Docker logo'
    }
];
---

<div class="grid grid-cols-1 gap-4 xs:grid-cols-2 md:grid-cols-3">
    {stacks.map(s => <Card name={s.name} link={"/stack/" + s.url} image={s.icon} />)}
</div>
