---
import Image from 'astro/components/Image.astro';
import Heading from "@/components/Heading.astro";

export interface Props {
    name: string,
    image: ImageMetadata,
    link: string
}
const { name, image, link } = Astro.props;
---

<a target="_blank" href={link} class="elevated flex flex-col gap-1 items-center justify-end p-2">
    <Image src={image} alt='' width={256} height={256} class="rounded-md w-full" />
    <Heading level={3}>{name}</Heading>
</a>
